body{
    font-family: 'Ubuntu', sans-serif;
    
}

a {
    text-decoration: none;
}

.header{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    box-sizing: border-box;
    font-weight: 700;
}

.footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F7F7F7;
}

.wrap{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.nav{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}

.nav>li{
    margin-right: 15px;
    color: #202020;
    
}

.nav_btn{
    background-color: #5528FF;
    border-radius: 5px;
    padding: 5px 10px;
    align-items: center;
    color: #fff;
    border: none;
    font-weight: 700;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo_img{
    display: block;
    width: 58px;
    height: 58px;
    background-image: url(../img/logo.svg);
    margin-right: 20px;
}

.logo_text{
    font-size: 24px;
    color: #202020;
    text-decoration: none;
}

.title-main{
    font-size: 56px;
    color: #202020;
    font-weight: 700;
}

.text-main{
    font-size: 32px;
    line-height: 1.5;
    color: #4f4f4f;
}

.button{
    background-color: #5528FF;
    border-radius: 5px;
    padding: 5px 45px;
    color: #fff;
    border: none;
    font-size: 24px;
}

.page{
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
}

.page-top{
    border-top: 1px solid #c2c2c2;
}

.page h2{
    position: absolute;
    top: -24px;
    font-size: 14px;
    font-weight: 300;
    background-color: #FFF;
    padding: 5px 15px;
    color: #c2c2c2;
    
}

.servises{
    display: grid;
    grid-template: 50% 50% / 50% 50%;
}

.servises-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.servises-img{
    flex-basis: 120px;
    text-align: center;
}

.servises-text{
    flex-basis: calc(100% - 120px);
}

.servises h3{
    font-size: 28px;
    font-weight: 400;
}

.servises p {
    font-size: 14px;
    color: #b2b2b2;
    line-height: 1.5;
}

.clients{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 25%);
    text-align: center;
    grid-row-gap: 40px;
}

.team{
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-row-gap: 40px;;
    padding-right: 15px;
    padding-left: 15px;

    
}

.team-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.team-item img{
    margin-right: 20px;
}

.team-item>div{
    flex-basis: calc(100%-150px);
}

.box-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

   
}

.social{
    list-style-type: none;
    display: flex;
    
}

.social>li{
    margin-left: 15px;
}

.social>li>a{
    text-decoration: none;
    color: #B2B2B2;
    font-size: 24px;
}
